* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25%;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.button-list {
    list-style: none;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.player-buttons {
    margin-left: 4%
}

p .narrator .points {
    display: flex;
    margin: 200px;
    justify-content: center;
    align-items: center;
}